<footer class="container-fluid py-5 text-white" style="background-color: #222">
  <div class="d-flex justify-content-center align-items-center">
    <i class="fas fa-chart-line text-warning fa-2x me-2"></i>
    <h2 class="m-0">NEUX Creative</h2>
  </div>
  <div class="hov pt-4 d-flex justify-content-center column-gap-3">
    <a class="nav-link text-white" href="#">Home</a>
    <a  class="nav-link text-white" href="#">About</a>
    <a  class="nav-link text-white" href="#">Services</a>
    <a  class="nav-link text-white" href="#">Testimonials</a>
    <a  class="nav-link text-white" href="#">Contact </a>
  </div>
  <p class="copyright text-center pt-4 mb-0">© 2025 NEUX Marketing Agency. All Rights Reserved.</p>
</footer>
